.u-block-cc40-5 {
  position: absolute;
  top: auto;
  bottom: 22px;
}

.u-block-cc40-3 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
}

.u-block-cc40-4 {
  position: absolute;
  right: 0;
  width: 65px;
  height: 65px;
}

 .u-section-1-1 {
  background-image: url("../images/68bfa372be234c6fef0fac68beb08bf91eaa9201e5a730575eafc3244a1d489b3ec9757fd3ccbd5bb983555713d2948b26ff6ca4e8bb1d8b33a318_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 471px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 800px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 832px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 784px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 100vh;
  }
}

 .u-section-1-2 {
  background-image: url("../images/687a04526be545e7d3dd3c7410ccfdc1843b7364903093c0d9875d23551d8a5f7fa866cf96ef92dfbd9e848eb640da2a2f57a02533ff9e9d1a1ba6_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 471px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 388px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 297px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 223px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 468px;
  }
}

 .u-section-1-3 {
  background-image: url("../images/68bfa372be234c6fef0fac68beb08bf91eaa9201e5a730575eafc3244a1d489b3ec9757fd3ccbd5bb983555713d2948b26ff6ca4e8bb1d8b33a318_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 471px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 800px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 832px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 784px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 672px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 143px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  margin: 39px auto 60px;
}.u-section-3 .u-sheet-1 {
  min-height: 332px;
}

.u-section-3 .u-btn-1 {
  letter-spacing: 1px;
  font-size: 2.25rem;
  border-style: none;
  text-transform: none;
  font-weight: normal;
  text-decoration: underline !important;
  margin: -2px auto 0 -50px;
  padding: 15px 69px 16px 68px;
}

.u-section-3 .u-text-1 {
  margin: -51px auto 0 271px;
}

.u-section-3 .u-text-2 {
  margin: 20px 36px 60px 271px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 331px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -82px;
    margin-left: 282px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin: 73px 0 49px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: -84px;
    margin-right: 236px;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 74px;
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 27px;
    margin-right: auto;
    margin-left: 178px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 23px;
    margin-bottom: 44px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 0;
    margin-left: 15px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 33px;
    margin-left: 15px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }
}.u-block-122d-5 {
  position: absolute;
  top: auto;
  bottom: 22px;
  width: auto;
  height: auto;
}

.u-block-122d-3 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
}

.u-block-122d-4 {
  position: absolute;
  right: 0;
  width: 65px;
  height: 65px;
}

 .u-section-4-1 {
  background-image: url("../images/68bfa372be234c6fef0fac68beb08bf91eaa9201e5a730575eafc3244a1d489b3ec9757fd3ccbd5bb983555713d2948b26ff6ca4e8bb1d8b33a318_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4-1 .u-sheet-1 {
  min-height: 471px;
}

@media (max-width: 1199px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 800px;
  }
}

@media (max-width: 991px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 832px;
  }
}

@media (max-width: 767px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 784px;
  }
}

@media (max-width: 575px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 672px;
  }
}

 .u-section-4-2 {
  background-image: url("../images/687a04526be545e7d3dd3c7410ccfdc1843b7364903093c0d9875d23551d8a5f7fa866cf96ef92dfbd9e848eb640da2a2f57a02533ff9e9d1a1ba6_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4-2 .u-sheet-1 {
  min-height: 471px;
}

@media (max-width: 1199px) {
  .u-section-4-2 .u-sheet-1 {
    min-height: 388px;
  }
}

@media (max-width: 991px) {
  .u-section-4-2 .u-sheet-1 {
    min-height: 297px;
  }
}

@media (max-width: 767px) {
  .u-section-4-2 .u-sheet-1 {
    min-height: 223px;
  }
}

@media (max-width: 575px) {
  .u-section-4-2 .u-sheet-1 {
    min-height: 468px;
  }
}

 .u-section-4-3 {
  background-image: url("../images/68bfa372be234c6fef0fac68beb08bf91eaa9201e5a730575eafc3244a1d489b3ec9757fd3ccbd5bb983555713d2948b26ff6ca4e8bb1d8b33a318_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4-3 .u-sheet-1 {
  min-height: 471px;
}

@media (max-width: 1199px) {
  .u-section-4-3 .u-sheet-1 {
    min-height: 800px;
  }
}

@media (max-width: 991px) {
  .u-section-4-3 .u-sheet-1 {
    min-height: 832px;
  }
}

@media (max-width: 767px) {
  .u-section-4-3 .u-sheet-1 {
    min-height: 784px;
  }
}

@media (max-width: 575px) {
  .u-section-4-3 .u-sheet-1 {
    min-height: 672px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 332px;
}

.u-section-5 .u-btn-1 {
  letter-spacing: 1px;
  font-size: 2.25rem;
  border-style: none;
  text-transform: none;
  font-weight: normal;
  text-decoration: underline !important;
  margin: 0 auto 0 -50px;
  padding: 15px 68px 16px;
}

.u-section-5 .u-text-1 {
  margin: -75px auto 0 271px;
}

.u-section-5 .u-text-2 {
  margin: 19px 36px 0 271px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: -82px;
    margin-left: 282px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 68px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-5 .u-text-1 {
    margin-top: -81px;
    margin-right: 258px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-top: 21px;
    margin-right: auto;
    margin-left: 183px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 0;
    margin-bottom: 46px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 17px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 17px;
    margin-left: 17px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 4px;
    margin-left: 17px;
    margin-right: 17px;
  }
}.u-block-fabf-5 {
  position: absolute;
  top: auto;
  bottom: 22px;
  width: auto;
  height: auto;
}

.u-block-fabf-3 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
}

.u-block-fabf-4 {
  position: absolute;
  right: 0;
  width: 65px;
  height: 65px;
}

 .u-section-6-1 {
  background-image: url("../images/68bfa372be234c6fef0fac68beb08bf91eaa9201e5a730575eafc3244a1d489b3ec9757fd3ccbd5bb983555713d2948b26ff6ca4e8bb1d8b33a318_1280.jpg");
  background-position: 50% 50%;
}

.u-section-6-1 .u-sheet-1 {
  min-height: 471px;
}

@media (max-width: 1199px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 800px;
  }
}

@media (max-width: 991px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 832px;
  }
}

@media (max-width: 767px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 784px;
  }
}

@media (max-width: 575px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 672px;
  }
}

 .u-section-6-2 {
  background-image: url("../images/687a04526be545e7d3dd3c7410ccfdc1843b7364903093c0d9875d23551d8a5f7fa866cf96ef92dfbd9e848eb640da2a2f57a02533ff9e9d1a1ba6_1280.jpg");
  background-position: 50% 50%;
}

.u-section-6-2 .u-sheet-1 {
  min-height: 471px;
}

@media (max-width: 1199px) {
  .u-section-6-2 .u-sheet-1 {
    min-height: 388px;
  }
}

@media (max-width: 991px) {
  .u-section-6-2 .u-sheet-1 {
    min-height: 297px;
  }
}

@media (max-width: 767px) {
  .u-section-6-2 .u-sheet-1 {
    min-height: 223px;
  }
}

@media (max-width: 575px) {
  .u-section-6-2 .u-sheet-1 {
    min-height: 468px;
  }
}

 .u-section-6-3 {
  background-image: url("../images/68bfa372be234c6fef0fac68beb08bf91eaa9201e5a730575eafc3244a1d489b3ec9757fd3ccbd5bb983555713d2948b26ff6ca4e8bb1d8b33a318_1280.jpg");
  background-position: 50% 50%;
}

.u-section-6-3 .u-sheet-1 {
  min-height: 471px;
}

@media (max-width: 1199px) {
  .u-section-6-3 .u-sheet-1 {
    min-height: 800px;
  }
}

@media (max-width: 991px) {
  .u-section-6-3 .u-sheet-1 {
    min-height: 832px;
  }
}

@media (max-width: 767px) {
  .u-section-6-3 .u-sheet-1 {
    min-height: 784px;
  }
}

@media (max-width: 575px) {
  .u-section-6-3 .u-sheet-1 {
    min-height: 672px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 332px;
}

.u-section-7 .u-btn-1 {
  letter-spacing: 1px;
  font-size: 2.25rem;
  border-style: none;
  text-transform: none;
  font-weight: normal;
  text-decoration: underline !important;
  margin: 0 auto 0 -50px;
  padding: 15px 68px 16px;
}

.u-section-7 .u-text-1 {
  margin: -75px auto 0 271px;
}

.u-section-7 .u-text-2 {
  margin: 20px 36px 0 271px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-btn-1 {
    margin-top: -3px;
    margin-left: -51px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: -82px;
    margin-left: 282px;
  }

  .u-section-7 .u-text-2 {
    margin: 125px auto 4px 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-7 .u-text-1 {
    margin-top: -79px;
    margin-right: 132px;
    margin-left: auto;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 71px;
    margin-right: 0;
    margin-bottom: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 335px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 13px;
    margin-right: auto;
  }

  .u-section-7 .u-text-2 {
    margin-top: 12px;
    margin-bottom: 21px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 0;
    margin-left: 21px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 10px;
    margin-left: 21px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 21px;
    margin-right: 21px;
    margin-bottom: 50px;
  }
}