.u-block-122d-5 {
  position: absolute;
  top: auto;
  bottom: 22px;
  width: auto;
  height: auto;
}

.u-block-122d-3 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
}

.u-block-122d-4 {
  position: absolute;
  right: 0;
  width: 65px;
  height: 65px;
}

 .u-section-1-1 {
  min-height: 471px;
  background-image: url("images/WhatsAppImage2022-02-09at5.17.20PM.jpeg");
}

.u-section-1-1 .u-image-1 {
  width: 345px;
  left: 2px;
  right: auto;
}

@media (max-width: 1199px) {
   .u-section-1-1 {
    min-height: 388px;
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
   .u-section-1-1 {
    min-height: 297px;
  }
}

@media (max-width: 767px) {
   .u-section-1-1 {
    min-height: 223px;
  }
}

@media (max-width: 575px) {
   .u-section-1-1 {
    min-height: 471px;
  }

  .u-section-1-1 .u-image-1 {
    width: 96px;
  }
}

 .u-section-1-2 {
  min-height: 471px;
}

.u-section-1-2 .u-video-1 {
  width: 993px;
  left: auto;
  right: -2px;
}

.u-section-1-2 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-1-2 .u-video-poster-1 {
  width: 56%;
  left: 22%;
  height: 56%;
  top: 22%;
  background-image: url("images/d6db95e56c3ec69eaffd7f7829799138882979e8d4d047d2206cef5a2d1a638d5cd0541d23c9c9230184981edc9e19d350850eebf38e51adf0db0f_1280.jpg?rand=611b");
  background-position: 50% 50%;
}

.u-section-1-2 .u-image-1 {
  width: 345px;
  left: 2px;
  right: auto;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-video-poster-1 {
    width: auto;
    height: auto;
  }
}

 .u-section-1-3 {
  background-image: url("images/804ad16aeb5d3283d69883103a8218baaa79a0a6a87df49a8b5fb266ae198384282182d9e9addfe38f56e35888c7bcb4d51304c2b945629c44c12d_1280.jpg");
  background-position: 50% 50%;
  min-height: 471px;
}

.u-section-1-3 .u-image-1 {
  filter: brightness(0.45);
  width: 1042px;
  height: 471px;
  margin: -1px calc(((100% - 1140px) / 2) + -51px) 1px auto;
}

.u-section-1-3 .u-image-2 {
  width: 345px;
  left: 2px;
  right: auto;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-image-1 {
    width: 756px;
    height: 425px;
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-image-1 {
    height: 326px;
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-image-1 {
    width: 540px;
    height: 245px;
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-image-1 {
    width: 472px;
    height: 154px;
    margin-right: calc(((100% - 340px) / 2));
  }
}.u-section-2 .u-sheet-1 {
  min-height: 365px;
}

.u-section-2 .u-text-1 {
  margin: 41px 191px 0 249px;
}

.u-section-2 .u-text-2 {
  margin: 26px 26px 0 249px;
}

.u-section-2 .u-line-1 {
  width: 828px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 26px 63px 0 auto;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -3px auto 45px 249px;
  padding: 27px 79px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 91px;
    margin-left: 241px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 241px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 185px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 185px;
  }

  .u-section-2 .u-line-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 139px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 139px;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 88px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 88px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 570px;
}

.u-section-3 .u-text-1 {
  text-align: left;
  line-height: 2.1;
  text-decoration: underline !important;
  margin: 20px 628px 0 53px;
}

.u-section-3 .u-text-2 {
  text-align: left;
  line-height: 2.1;
  text-decoration: underline !important;
  margin: -75px 66px 0 615px;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  text-align: left;
  margin: 11px 615px 0 66px;
}

.u-section-3 .u-text-4 {
  font-size: 1rem;
  text-align: left;
  margin: -418px 53px 60px 628px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 481px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 481px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 481px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 481px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 261px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-right: 261px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 261px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 20px;
    margin-right: 261px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 81px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 81px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 81px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 81px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1034px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: -12px;
    margin-left: 12px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 548px;
    margin-right: -12px;
    margin-left: 12px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -598px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 86px;
    margin-left: 12px;
    margin-right: 12px;
  }
}.u-block-c2a3-5 {
  position: absolute;
  top: auto;
  bottom: 22px;
  width: auto;
  height: auto;
}

.u-block-c2a3-3 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
}

.u-block-c2a3-4 {
  position: absolute;
  right: 0;
  width: 65px;
  height: 65px;
}

 .u-section-4-1 {
  background-image: url("images/default-image.jpg?rand=d585");
  min-height: 471px;
}

.u-section-4-1 .u-image-1 {
  width: 1042px;
  left: auto;
  right: -1px;
  object-position: 50% 84.79%;
}

.u-section-4-1 .u-image-2 {
  width: 345px;
  left: 2px;
  right: auto;
}

@media (max-width: 1199px) {
   .u-section-4-1 {
    background-position: 50% 50%;
  }

  .u-section-4-1 .u-image-1 {
    filter: brightness(0.45);
    width: 756px;
    right: -31px;
  }
}

@media (max-width: 991px) {
  .u-section-4-1 .u-image-1 {
    left: 281px;
  }
}

@media (max-width: 767px) {
  .u-section-4-1 .u-image-1 {
    width: 540px;
    left: 131px;
  }
}

@media (max-width: 575px) {
  .u-section-4-1 .u-image-1 {
    width: 472px;
    left: auto;
  }
}

 .u-section-4-2 {
  background-image: url("images/default-image.jpg?rand=d585");
  background-position: 50% 50%;
  min-height: 471px;
}

.u-section-4-2 .u-image-1 {
  width: 1042px;
  left: auto;
  right: -1px;
}

.u-section-4-2 .u-image-2 {
  width: 345px;
  left: 2px;
  right: auto;
}

@media (max-width: 1199px) {
  .u-section-4-2 .u-image-1 {
    filter: brightness(0.45);
    width: 756px;
    right: -31px;
  }
}

@media (max-width: 991px) {
  .u-section-4-2 .u-image-1 {
    left: 281px;
  }
}

@media (max-width: 767px) {
  .u-section-4-2 .u-image-1 {
    width: 540px;
    left: 131px;
  }

  .u-section-4-2 .u-image-2 {
    width: 193px;
  }
}

@media (max-width: 575px) {
  .u-section-4-2 .u-image-1 {
    width: 472px;
    left: auto;
  }
}

 .u-section-4-3 {
  background-image: url("images/default-image.jpg?rand=d585");
  min-height: 471px;
}

.u-section-4-3 .u-image-1 {
  width: 1042px;
  left: auto;
  right: -1px;
}

.u-section-4-3 .u-image-2 {
  width: 345px;
  left: 2px;
  right: auto;
}

@media (max-width: 1199px) {
   .u-section-4-3 {
    background-position: 50% 50%;
  }

  .u-section-4-3 .u-image-1 {
    filter: brightness(0.45);
    width: 756px;
    right: -31px;
  }
}

@media (max-width: 991px) {
  .u-section-4-3 .u-image-1 {
    left: 281px;
  }
}

@media (max-width: 767px) {
  .u-section-4-3 .u-image-1 {
    width: 540px;
    left: 131px;
  }
}

@media (max-width: 575px) {
  .u-section-4-3 .u-image-1 {
    width: 472px;
    left: auto;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 365px;
}

.u-section-5 .u-text-1 {
  margin: 41px 191px 0 249px;
}

.u-section-5 .u-text-2 {
  margin: 26px 26px 0 249px;
}

.u-section-5 .u-line-1 {
  width: 828px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 26px 63px 0 auto;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto 42px 249px;
  padding: 27px 79px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 91px;
    margin-left: 241px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 241px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 185px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 185px;
  }

  .u-section-5 .u-line-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-left: 139px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 139px;
  }

  .u-section-5 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-left: 88px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 88px;
  }

  .u-section-5 .u-line-1 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 570px;
}

.u-section-6 .u-text-1 {
  text-align: left;
  line-height: 2.1;
  text-decoration: underline !important;
  margin: 20px 628px 0 53px;
}

.u-section-6 .u-text-2 {
  text-align: left;
  line-height: 2.1;
  text-decoration: underline !important;
  margin: -75px 66px 0 615px;
}

.u-section-6 .u-text-3 {
  font-size: 1rem;
  text-align: left;
  margin: 11px 615px 0 66px;
}

.u-section-6 .u-text-4 {
  font-size: 1rem;
  text-align: left;
  margin: -418px 53px 60px 628px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 481px;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
    margin-left: 481px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 481px;
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
    margin-left: 481px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-right: 261px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 20px;
    margin-right: 261px;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: 261px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 20px;
    margin-right: 261px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-right: 81px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 81px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 81px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 81px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1029px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 563px;
    margin-right: -12px;
    margin-left: 12px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: -613px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 101px;
    margin-left: 12px;
    margin-right: 12px;
  }
}.u-block-bf7c-5 {
  position: absolute;
  top: auto;
  bottom: 22px;
  width: auto;
  height: auto;
}

.u-block-bf7c-3 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
}

.u-block-bf7c-4 {
  position: absolute;
  right: 0;
  width: 65px;
  height: 65px;
}

 .u-section-7-1 {
  background-image: url("images/9.jpg");
  min-height: 471px;
}

.u-section-7-1 .u-image-1 {
  width: 1042px;
  left: auto;
  right: -1px;
  object-position: 87.39% 50%;
}

.u-section-7-1 .u-image-2 {
  width: 345px;
  left: 2px;
  right: auto;
}

@media (max-width: 1199px) {
   .u-section-7-1 {
    background-position: 50% 50%;
  }

  .u-section-7-1 .u-image-1 {
    filter: brightness(0.45);
    width: 756px;
    right: -31px;
  }
}

@media (max-width: 991px) {
  .u-section-7-1 .u-image-1 {
    left: 281px;
  }
}

@media (max-width: 767px) {
  .u-section-7-1 .u-image-1 {
    width: 540px;
    left: 131px;
  }
}

@media (max-width: 575px) {
  .u-section-7-1 .u-image-1 {
    width: 472px;
    left: auto;
  }
}

 .u-section-7-2 {
  background-image: url("images/default-image.jpg?rand=d585");
  background-position: 50% 50%;
  min-height: 471px;
}

.u-section-7-2 .u-image-1 {
  filter: brightness(0.45);
  width: 1042px;
  left: auto;
  right: -1px;
}

.u-section-7-2 .u-image-2 {
  width: 345px;
  left: 2px;
  right: auto;
}

@media (max-width: 1199px) {
  .u-section-7-2 .u-image-1 {
    width: 756px;
    right: -31px;
  }
}

@media (max-width: 991px) {
  .u-section-7-2 .u-image-1 {
    left: 281px;
  }
}

@media (max-width: 767px) {
  .u-section-7-2 .u-image-1 {
    width: 540px;
    left: 131px;
  }
}

@media (max-width: 575px) {
  .u-section-7-2 .u-image-1 {
    width: 472px;
    left: auto;
  }
}

 .u-section-7-3 {
  background-image: url("images/default-image.jpg?rand=d585");
  min-height: 471px;
}

.u-section-7-3 .u-image-1 {
  filter: brightness(0.85);
  width: 1042px;
  left: auto;
  right: -1px;
}

.u-section-7-3 .u-image-2 {
  width: 345px;
  left: 2px;
  right: auto;
}

@media (max-width: 1199px) {
   .u-section-7-3 {
    background-position: 50% 50%;
  }

  .u-section-7-3 .u-image-1 {
    width: 756px;
    right: -31px;
  }
}

@media (max-width: 991px) {
  .u-section-7-3 .u-image-1 {
    left: 281px;
  }
}

@media (max-width: 767px) {
  .u-section-7-3 .u-image-1 {
    width: 540px;
    left: 131px;
  }
}

@media (max-width: 575px) {
  .u-section-7-3 .u-image-1 {
    width: 648px;
    left: -208px;
    right: auto;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 390px;
}

.u-section-8 .u-text-1 {
  margin: 52px 191px 0 249px;
}

.u-section-8 .u-text-2 {
  margin: 26px 26px 0 249px;
}

.u-section-8 .u-line-1 {
  width: 828px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 23px 63px 0 auto;
}

.u-section-8 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto 59px 249px;
  padding: 27px 79px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-right: 91px;
    margin-left: 241px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 241px;
    margin-right: 0;
  }

  .u-section-8 .u-btn-1 {
    margin-left: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-right: 0;
    margin-left: 185px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 185px;
  }

  .u-section-8 .u-line-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-8 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    margin-left: 139px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 139px;
  }

  .u-section-8 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    margin-left: 88px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 88px;
  }

  .u-section-8 .u-line-1 {
    width: 340px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 664px;
}

.u-section-9 .u-text-1 {
  text-align: left;
  line-height: 2.1;
  text-decoration: underline !important;
  margin: 20px 628px 0 53px;
}

.u-section-9 .u-text-2 {
  text-align: left;
  line-height: 2.1;
  text-decoration: underline !important;
  margin: -75px 66px 0 615px;
}

.u-section-9 .u-text-3 {
  font-size: 1rem;
  text-align: left;
  margin: 11px 615px 0 66px;
}

.u-section-9 .u-text-4 {
  font-size: 1rem;
  text-align: left;
  margin: -418px 53px 60px 628px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-right: 481px;
    margin-left: 0;
  }

  .u-section-9 .u-text-2 {
    margin-right: 0;
    margin-left: 481px;
  }

  .u-section-9 .u-text-3 {
    margin-right: 481px;
    margin-left: 0;
  }

  .u-section-9 .u-text-4 {
    margin-right: 0;
    margin-left: 481px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    margin-right: 261px;
  }

  .u-section-9 .u-text-2 {
    margin-top: 20px;
    margin-right: 261px;
    margin-left: 0;
  }

  .u-section-9 .u-text-3 {
    margin-right: 261px;
  }

  .u-section-9 .u-text-4 {
    margin-top: 20px;
    margin-right: 261px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    margin-right: 81px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 81px;
  }

  .u-section-9 .u-text-3 {
    margin-right: 81px;
  }

  .u-section-9 .u-text-4 {
    margin-right: 81px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1029px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: 16px;
    margin-right: -12px;
    margin-left: 12px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-top: 533px;
    margin-right: -12px;
    margin-left: 12px;
  }

  .u-section-9 .u-text-3 {
    width: auto;
    margin-top: -571px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-9 .u-text-4 {
    width: auto;
    margin-top: 93px;
    margin-left: 12px;
    margin-right: 12px;
  }
}